.navbar{
  background: #2895CA;
  border-bottom: 1px solid #d5dddf;
  margin: 0px!important;
  border-radius:0px!important;
}
.navbar a{
  color:#fff;
}
.nav-sidebar{
  /*padding:0px!important;*/
  background: #343f51;
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;


}
.nav-sidebar a {
  color: #8e99a2;
}