<h1 class="page-header" ng-bind="vm.titlepage"></h1>
<div class="col-sm-12 placeholders">
    <div class="mg-top-10" style="margin-bottom:10px;">
        <form>
            <div class="form-group">
                <label>From:</label>
                <input type="text" name="from" data-ng-model="vm.from">
            </div>
            <div class="form-group">
                <label>To:</label>
                <input type="text" name="to" data-ng-model="vm.to">
            </div>
            <div class="form-group">
                <label>Zoom:</label>
                <input type="text" name="zoom" data-ng-model="vm.zoom">
            </div>
            <div class="form-group">
                <input type="button" ng-click="vm.searchIP(vm)" value="Search" id="routeGo"/>
            </div>
            <div class="form-group">
                <input type="button" ng-click="vm.findMe()" value="Find Me" />
            </div>
            <div class="form-group">
                <label>Change Icon: </label>
                <select name="iconMarker" data-ng-model="vm.iconMarker" ng-change="vm.changeIcon()">
                    <option value="">--- select marker ---</option>
                    <option value="defaultIcon">Default</option>
                    <option value="leafIcon">Leaf</option>
                    <option value="orangeLeafIcon">Orange Leaf</option>
                    <option value="blueAwesomeMarkerIcon">Blue Awesome Marker</option>
                    <option value="redAwesomeMarkerIcon">Red Awesome Marker</option>
                    <option value="greenAwesomeMarkerIcon">Green Awesome Marker</option>
                    <option value="tabAwesomeMarkerIcon">Tab Awesome Marker</option>
                    <option value="usdAwesomeMarkerIcon">USD Awesome Marker</option>
                    <option value="heartAwesomeMarkerIcon">Heart Awesome Marker</option>
                    <option value="homeAwesomeMarkerIcon">Home Awesome Marker</option>
                    <option value="cogAwesomeMarkerIcon">Cog Awesome Marker</option>
                    <option value="starAwesomeMarkerIcon">Star Awesome Marker</option>
                    <option value="certificateAwesomeMarkerIcon">Certificate Awesome Marker</option>
                    <option value="blueMakiMarkerIcon">Blue Maki Marker</option>
                    <option value="redMakiMarkerIcon">Red Maki Marker</option>
                    <option value="greenMakiMarkerIcon">Green Maki Marker</option>
                    <option value="purpleMakiMarkerIcon">Purple Maki Marker</option>
                    <option value="rocketMakiMarkerIcon">Rocket Maki Marker</option>
                    <option value="beerMakiMarkerIcon">Beer Maki Marker</option>
                    <option value="warehouseMakiMarkerIcon">WareHouse Maki Marker</option>
                    <option value="shopMakiMarkerIcon">Shop Maki Marker</option>
                    <option value="blueExtraMarkerIcon">Blue Extra Marker</option>
                    <option value="redExtraMarkerIcon">Red Extra Marker</option>
                    <option value="greenExtraMarkerIcon">Green Extra Marker</option>
                    <option value="tagExtraMarkerIcon">Tag Extra Marker</option>
                    <option value="usdExtraMarkerIcon">USD Extra Marker</option>
                    <option value="heartExtraMarkerIcon">Heart Extra Marker</option>
                    <option value="homeExtraMarkerIcon">Home Extra Marker</option>
                    <option value="cogExtraMarkerIcon">Cog Extra Marker</option>
                    <option value="starExtraMarkerIcon">Star Extra Marker</option>
                    <option value="certificateExtraMarkerIcon">Certificate Extra Marker</option>
                    <option value="squareExtraMarkerIcon">Square Extra Marker</option>
                    <option value="starExtraMarkerIcon">Star Extra Marker</option>
                    <option value="circleExtraMarkerIcon">Circle Extra Marker</option>
                </select>
            </div>
        </form>
        <hr>
        <google-map center="map.center" zoom="map.zoom"></google-map>
        <!--<leaflet id='viewMap'center="center" markers="markers" layers="layers" controls="controls" width="100%" height="400"></leaflet>-->
    </div>
</div>