<div class="nav nav-sidebar">
    <div id="gw-sidebar" class="gw-sidebar">
        <div class="nano-content">
            <ul class="gw-nav gw-nav-list">
                <li ui-sref-active="active" id="home">
                    <a href="#/" ui-sref="home"> <span class="gw-menu-text">Home</span> </a>
                </li>
                <li class="init-arrow-down" id="chart">
                    <a href="javascript:void(0)"> <span class="gw-menu-text">Chart</span> <b class="gw-arrow icon-arrow-up8"></b> </a>
                    <ul class="gw-submenu">
                        <li id="chartLine" ui-sref-active="active"> <a href="/chartLine" ui-sref="chartLine">Chart Line</a> </li>
                        <li id="chartStep" ui-sref-active="active"> <a href="/chartStep" ui-sref="chartStep" >Chart Step</a> </li>
                    </ul>
                </li>
                <li class="init-arrow-down" id="post">
                    <a href="javascript:void(0)"> <span class="gw-menu-text">Post</span> <b class="gw-arrow icon-arrow-up8"></b> </a>
                    <ul class="gw-submenu">
                        <li id="addPost" ui-sref-active="active"> <a href="#/addPost" ui-sref="addPost">Add Post</a> </li>
                        <li id="listPost" ui-sref-active="active"> <a href="#/listPost" ui-sref="listPost" >List Post</a> </li>
                    </ul>
                </li>
                <li class="init-arrow-down" id="image">
                    <a href="javascript:void(0)"> <span class="gw-menu-text">Image</span> <b></b> </a>
                    <ul class="gw-submenu">
                        <li id="addImage" i-sref-active="active"> <a href="#/addImage" ui-sref="addImage">Add Image</a> </li>
                        <li id="listImage" i-sref-active="active"> <a href="#/listImage" ui-sref="listImage">List Image</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {
    if($('#' + currentPage).parent().hasClass('gw-submenu')){
        $('#' + currentPage).parent().find('li').find('ul:visible').slideUp();
        $('#' + currentPage).parent().parent().removeClass('init-arrow-down');
        $('#' + currentPage).parent().parent().removeClass('arrow-down');
        $('#' + currentPage).parent().parent().addClass('arrow-up');
        $('#' + currentPage).parent().css('display','block');
        $('#' + currentPage).parent().parent().find('ul').slideDown(300);
    }
    $('.gw-nav > li > a').click(function () {
        var gw_nav = $('.gw-nav');
        gw_nav.find('li').removeClass('active');
        $('.gw-nav > li > ul > li').removeClass('active');
        var checkElement = $(this).parent();
        var ulDom = checkElement.find('.gw-submenu')[0];

        if (ulDom == undefined) {
            checkElement.addClass('active');
            $('.gw-nav').find('li').find('ul:visible').slideUp();
            return;
        }
        if (ulDom.style.display != 'block') {
            gw_nav.find('li').find('ul:visible').slideUp();
            gw_nav.find('li.init-arrow-up').removeClass('init-arrow-up').addClass('arrow-down');
            gw_nav.find('li.arrow-up').removeClass('arrow-up').addClass('arrow-down');
            checkElement.removeClass('init-arrow-down');
            checkElement.removeClass('arrow-down');
            checkElement.addClass('arrow-up');
            checkElement.addClass('active');
            checkElement.find('ul').slideDown(300);
        } else {
            checkElement.removeClass('init-arrow-up');
            checkElement.removeClass('arrow-up');
            checkElement.removeClass('active');
            checkElement.addClass('arrow-down');
            checkElement.find('ul').slideUp(300);

        }
    });
    $('.gw-nav > li > ul > li > a').click(function () {
        $(this).parent().parent().parent().removeClass('active');
        $('.gw-nav > li > ul > li').removeClass('active');
        $(this).parent().addClass('active')
    });

});
</script>